<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人力资源管理系统</title>
<link rel="stylesheet" rev="stylesheet" href="/css/style.css " type="text/css" media="all" />
<script type="text/javascript" src="/Js/typem.js"></script>
<script type="text/javascript" src="/Js/js.js"></script>
<style type="text/css">
<!--
.atten {font-size:12px;font-weight:normal;color:#F00;}
-->
</style>
</head>
<body class="ContentBody">
<form name="educateForm" method="post" action="modifyeducate.do?action=addeducate" onsubmit="return educateValidate();">
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >

      </th>
  </tr>
		<TR>
			<TD width="100%">
				<fieldset style="height:100%;">
					  <table border="0" cellpadding="8" cellspacing="1" style="width:100%">
						<tr th:each="educate,satr:${listByMap}">
					    <td nowrap align="right" width="11%">培训名称：</td>
					    <td colspan="3" th:text="${educate.edName}">
					    </td>
					    </tr>
					  <tr th:each="educate,satr:${listByMap}">
					    <td nowrap align="right" width="11%">培训目的：</td>
					    <td colspan="3" th:text="${educate.purpose}">
					    </td>
					    </tr>
					  <tr th:each="educate,satr:${listByMap}">
					    <td nowrap align="right">培训开始时间：</td>
					    <td width="29%" th:text="${educate.begintime}">
					    	</td>
					    <td width="18%">培训结束时间：</td>
					    <td width="42%" th:text="${educate.endtime}">
					    </td>
					  </tr>
					  <tr th:each="educate,satr:${listByMap}">
					    <td nowrap align="right">讲师：</td>
					    <td th:text="${educate.teacher}"></td>
					    <td>培训人员：</td>
					    <td th:text="${educate.student}">
						</td>
					  </tr>
					    
					  <tr th:each="educate,satr:${listByMap}">
					    <td width="11%" nowrap align="right">培训材料：</td>
					    <td colspan="3" th:text="${educate.datum}"></td>
					  </tr>
						  <tr th:each="educate,satr:${listByMap}">
						    <td width="11%" height="22" align="center" >培训效果：</td>
						    <td height="22" colspan="3" align="left" th:text="${educate.effect}"></td>
						  </tr>
						  <tr th:each="educate,satr:${listByMap}">
						    <td width="11%" height="22" align="center" >培训总结：</td>
						    <td height="22" colspan="3" align="left" th:text="${educate.summarize}"></td>
						  </tr>

					  </table>
				</fieldset>			
				</TD>
		</TR>
  	<tr>
    <td height="22" colspan="4" align="center" ></td>
  	</tr>

</TABLE>	
</div>
</form>
</body>
</html>

